/*RESET*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*//////////////*/


/*RESPONSIVE*/

/* Small screens (default) */
html { font-size: 100%; }
  }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}


/*Columns*/
@media (min-width: 40rem) {
  .column {
    float: left;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.three-fourths { width: 75.05%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
}


/*Rows*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*Estilos*/

body{
  font-family: 'Fredoka One', cursive;
}

.left{
  float:left;
}

.right{
  float:right;
}

.center{
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

h1{
  font-size: 3rem;
}

/*HOME*/

.principal h1{
  text-align: center;
  color: #666;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 3rem;
}

.principal div.logo{
  line-height: 6rem;
  font-size:4rem;
  color:#000;
  text-align: center;
  margin:3rem 0 2rem;
  letter-spacing: -0.1rem;
}

/*THUMBS*/

ul.thumbs li{
  list-style: none;
}

ul.thumbs a{
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #3498db;
  text-decoration: none;
  display: block;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

}

ul.thumbs a:hover{
  background-color: #3498db;
  color:#FFF;  
}

ul.thumbs img{
  background-color: #FFF;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

ul.thumbs p{
  margin-bottom: 1rem;
}


/*ADS*/

.ads{
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

/*NAVBAR*/

.navbar{
  background-color: #333;
  height: 4rem;
}

.navbar .logo img{
  float: left;
  margin-top: 1rem;
  height: 3rem;
  display: block;
}

.navbar .logo a{
  line-height: 2rem;
  font-size: 1.5rem;
  padding:1rem 0 0 1rem;
  color:#fff;
  float: left;
  text-decoration: none;
}


.draw-title{
  font-size: 1rem;
  display: block;
}

.cabecalho{
  margin:2rem 0;
  text-align: center;
  float:left;
  width: 100%;
}

.actions{
  float:left;
  width: 100%;
  margin:2rem 0 0 0;
}

/*BUTTONS*/

.btn{
  font-size:1rem;
  color:#fff;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 10px 20px;
  margin:0;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.05rem;
  border:none;
  text-decoration: none;
  border-bottom: 4px solid;
}

.btn:hover{
  cursor:pointer;
  text-shadow: 0px 0px 5px #fdffb5;
}

.btn:active{
  border-top: 4px solid #fff;
  border-bottom:none;
}

.green{
  background: #2ecc71;
  border-color: #27ae60;
}

.blue{
  background: #3498db;
  border-color: #2980b9;
}

.default{
  background: #ddd;
  border-color: #ccc;
  color:#333; 
}

/*IMGS*/

.desenho img{
  width: 100%;
}


.footer{
  margin-top: 3rem;
  padding: 1rem 0;
  background-color: #ddd;
  float:left;
  width: 100%;
}
