---
layout: default
title: Aprender e Colorir
---

<div class="logo-home">Aprender e colorir</div>

<div id="home">
  <div class="container principal">
    <h1>Desenhos para imprimir e pintar enquanto aprende as primeiras palavras em inglês!</h1>
    <ul class="categories">
      {% for category in site.categories %}
      <li>
        <a href="categories/{{ category[0] }}.html">{{ category[0] | capitalize }}</a>
        <img src="{{ category[1].first.img }}">
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{{ content }}

{% include footer.html %}