<div class="navbar">
	<div class="container">
		<div class="logo">
			<img src="/img/aprender-colorir-cabecalho.png">
			<a href="/index.html" class="logo">Aprender e colorir</a>
		</div>
		<div class="menu right">
			<ul>
				<li><a href="#">Desenhos</a>
					<ul>
					{% for category in site.categories %}
						<li>
							<a href="categories/{{ category[0] }}.html">
							<p>{{ category[0] | capitalize }}</p>
							</a>
						</li>
					{% endfor %}
					</ul>
				</li>
				<li><a href="#">Sobre</a></li>
			</ul>
		</div>
	</div>
</div>