---
layout: default
---

<div class="container">
	<div class="row clearfix">
    <div class="column single">
		<div class="cabecalho">
			<h1 class="left">Desenhos para colorir<span class="draw-title">{{ page.title }}</span></h1>
			<a href="javascript:window.print()" class="btn green right">Imprimir desenho</a>
		</div>
		<div class="desenho">
			{{ content }}
		</div>
		<div class="nav-images">
			<a href="#" class="btn blue left">Desenho anterior</a>
			<a href="#" class="btn blue right">Próximo desenho</a>
		</div>
    </div>
	</div>
</div>
