---
layout: inside
---

<div class="container">
	<div class="row clearfix">
	    <div class="column">
			<div class="cabecalho">
				<h1><span class="draw-title">Desenhos para colorir</span>{{ page.title }}</h1>
				<a href="javascript:window.print()" class="btn green">Imprimir desenho</a>
			</div>
			<div class="column full">
				<div class="desenho">
					{{ content }}
				</div>
			</div>
			<div class="sidebar third">
				<a href=""><img src="https://storage.googleapis.com/support-kms-prod/SNP_6EB8C8AA85A5443CB6FEF7DE5934A23154FA_2922349_en_v1"> </a>
			</div>
<!-- 			<div class="nav-images">
				<a href="#" class="btn blue left">Desenho anterior</a>
				<a href="#" class="btn blue right">Próximo desenho</a>
			</div>
 -->			
	    </div>
	</div>
</div>
